!!!
%html
  %head
    %title Bootstrap 101 Template
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Bootstrap
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %link{ type: "text/css", rel: "stylesheet", href: "http://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.min.css" }
    / Include all compiled plugins (below), or include individual files as needed
    %script{ type: "text/javascript", src: "http://code.jquery.com/jquery-1.9.1.min.js" }
    %script{ src: "js/bootstrap.min.js"}
    %script{ type: "text/javascript", src: "http://code.jquery.com/ui/1.10.3/jquery-ui.min.js" }
    %script{ type: "text/javascript", src: "js/main.js" }
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  %body
    .container
      %h1 カコムシミュレーション
      %form.parameters
        .row
          %label.col-xs-2
            床長辺(m)
          .col-xs-10
            %input.floor_w.form-control{ value: 16 }
        .row
          %label.col-xs-2
            床短辺(m)
          .col-xs-10
            %input.floor_h.form-control{ value: 9 }
        .row
          %label.col-xs-2
            壁高さ(m)
          .col-xs-10
            %input.wall_h.form-control{ value: 3 }
        .row
          %label.col-xs-2
            カメラ高さ(m)
          .col-xs-10
            %input.camera_h.form-control{ value: 7 }
      #slider

      #main
        .frame
          .wall
            .floor
